

.App {
  text-align: center;
  background: #072038;

  width: 100vw;
  height: 100vh;
  min-height: 320px;

  overflow: hidden;

  display: flex;
  flex-direction: column;

  justify-content: center;
}


@font-face {
    font-family: 'Ubuntu';
    font-weight: 300;
    src: local('Ubuntu'), url(./fonts/Ubuntu-Light.ttf) format('opentype');
}

@font-face {
    font-family: 'Ubuntu';
    font-weight: 400;

    src: local('Ubuntu'), url(./fonts/Ubuntu-Regular.ttf) format('opentype');
  }  
  
  @font-face {
      font-family: 'Ubuntu';
      font-weight: 500;
      src: local('Ubuntu'), url(./fonts/Ubuntu-Medium.ttf) format('opentype');
    }
    
@font-face {
    font-family: 'Ubuntu';
    font-weight: 900;
    src: local('Ubuntu'), url(./fonts/Ubuntu-Bold.ttf) format('opentype');
}
@font-face {
    font-family: 'Ubuntu Mono';
    src: local('UbuntuMono'), url(./fonts/UbuntuMono-Regular.ttf) format('opentype');
}
    
    